{% extends 'base.html.twig' %}
{% block body %}    
    <div class="row">
        {% for produit in listeProduit %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../img/{{ produit.photo }}" class="card-img-top" alt="produit">
                <div class="card-body">
                    <h5 class="card-title">{{ produit.titre }}</h5>
                    <p class="card-text"><span class="price">{{ produit.prix }} €</span></p>
                    <a href="{{ path('panier_ajouter',{'id': produit.id})}}" class="btn btn-primary">Ajouter</a>
                        {#}
                        <select name="qte">
                            {% for i in 0.. produit.stock %}
                            <option value="{{i}}">
                                {{i}}
                            </option>
                            {% endfor %}
                        </select>
                        {#}
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
{% endblock %}